/* External Style */
body
{
    background-color: yellow;
}

.center
{
    text-align:center;
}

#text
{
    color:red;
}

*
{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
    color: black;
    position: relative;
}

h1 {
    font-size: 50px;
    font-family: 'Aladin', cursive;
    color: hsla(215, 100%, 27%, 1);
}

h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
}

div
{
    width: 400px;
}

input[type="text"]
{
    color: black;
}

form::nth-child(odd)
{
    background-color: rgb(180, 240, 180);
    text-shadow: blue;
}

section, h3
{
    background-color: blue;
}

header h2
{
    color: rgb(21, 160, 176);
    font-weight: bold; 
}

aside > i
{
    color: rgb(240, 100, 100, 1);
}

tr~tr
{
    font-weight: lighter; 
}

td+td
{
    font-weight: bold;
}

code.coding
{
    border-style: ridge;
} 

#websites 
{
    display: flex;
    background: lightblue;
    width: 300px;
    height: 400px;
    padding: 5px;
    justify-content: space-between;
    list-style: none;
    flex-grow: initial;
    flex-direction: row;
    flex-wrap: wrap;
}
#websites li
{
    background: yellow;
    width: 150px;
    height: 75px;
    line-height: 75px;
    border-radius: 5px;
    text-align: center;
}

#otherClasses
{
    display: grid;
    background-color: lightblue;
    width: 300px;
    height: 400px;
    padding: 5px;
    grid-template-columns: 80px 80px 80px;
    grid-column-gap: 20px;
    grid-template-rows: 113px 113px 114px;
    grid-row-gap: 20px;
}
#otherClasses li
{
    background: yellow;
    border-radius: 5px;
    text-align: center;
}
