/* External Style */
body
{
    background-color: yellow;
}

.center
{
    text-align:center;
}

#sentence
{
    color: red;
    max-width: 125%; 
    min-width: 125%;
}

*
{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
    color: black;
    position: relative;
}

h1 {
    font-size: 50px;
    font-family: 'Aladin', cursive;
    color: hsla(215, 100%, 27%, 1);
}

h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
}

div
{
    width: 400px;
}

input[type="text"]
{
    color: black;
}

form::nth-child(odd)
{
    background-color: rgb(180, 240, 180);
    text-shadow: blue;
}

label
{
    color: black;
    font-size: 20px;
}
section, h3
{
    background-color: blue;
}

header h2
{
    color: rgb(21, 160, 176);
    font-weight: bold; 
}

aside > i
{
    color: rgb(240, 100, 100, 1);
}

tr~tr
{
    font-weight: lighter; 
}

td+td
{
    font-weight: bold;
}

code.coding
{
    border: solid;
    width: 20em;
    height: 3ex;
    border-style: ridge;
    border-color: white;
    border-width: 2px;
    border-radius: 3mm 3mm / 0.3cm 0.3cm;
    margin-top: 10px; margin-left: 10px; margin-right:auto; margin-bottom: auto;
    padding-top: auto; padding-left: 3px; padding-right: 3px; padding-bottom: 3px;
}

figure
{
    margin: auto auto auto auto;
    padding: 5px 5px 5px 5px;
    border: 5px solid gray;
    height: 120%;
    width: 120%;
}

code.codes {
    position: relative;
}
template {
    position: absolute;
}

a:link {
  color: red;
}
a:visited {
  color: green;
}
a:hover {
  color: hotpink;
}
a:active {
  color: blue;
}

#websites
{
    display: flex;
    background: white;
    width: 300px;
    height: 400px;
    padding: 5px;
    justify-content: space-between;
    list-style: none;
    flex-grow: initial;
    flex-direction: row;
    flex-wrap: wrap;
}
#websites li 
{
    background: lightblue;
    width: 100px;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    text-align: center;
}
#editors
{
      display: grid;
      background-color: lightblue;
      width: 300px;
      height: 300px;
      padding: 5px;
      grid-template-columns: 80px 80px 80px;
      grid-column-gap: 20px;
      grid-template-rows: 135px 135px;
      grid-row-gap: 20px;
 }
 #editors li
 {
      background: green;
      border-radius: 5px;
      text-align: center;
 }
